/**/
@font-face {
    font-family: 'Google';
    src: url(https://sarojkumar007.github.io/doc/fonts/google-sans-light.woff2);
    font-style: normal;
    font-weight: 100;
    display: swap;
}
/**/
* {
    font-family: Google,sans-serif;
    font-weight: 100;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    background-color: #ececec;
    height: 95vh;
}
/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fdfdfd;
  /*border-left: 1px solid #bbb;*/
  box-shadow: inset 0px 5px 10px #00000033;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #999;
  transition: background .3s;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover{
  background: #666;
}

.bottom-design {
    height: 10px;
    width: 40%;
    border-radius: 100px;
    margin: 10px auto;
    background-color: #999;
}
.todo-container {
    padding-bottom: 20px;
    max-width: 600px;
    background-color: #fff;
    margin: 20px auto;
    box-shadow: 0px 10px 20px #00000033;
    border-radius: 15px;
    overflow: hidden;
}
@media screen and (max-width: 600px){
    .todo-container{
        margin: auto; padding-bottom: 0;
        height: 100vh;
        border-radius: 0;
    }
}
.todo-container header{
    background-color: #2B9F8A;
}
#todo-header h1 {
    font-family: 'Merienda',Google,sans;
    font-weight: 700;
    text-align: center;
    color: #333;
    font-size: 3rem;
    text-transform: uppercase;
}
.todo-input {
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    padding: 10px;
    width: 80%;
    min-width: 250px;
    /*margin: 0px 0px 30px 30px;*/
    font-size: 1.1rem;
    transition: background-color .3s;
}
.todo-input::-webkit-input-placeholder {
    color: #ddd;
    transition: color .3s;
}
.todo-input:hover::-webkit-input-placeholder {
    color: #dfd1d1;
}
.todo-input:focus::-webkit-input-placeholder {
    color: #999;
}
.todo-input:hover , .todo-input:focus {
    outline: none;
    background-color: #fff;
    color: #333;
}

.todo-search-input {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 6px;
    width: 95%;
    min-width: 25px;
    margin-left: 14px;
    font-size: 1rem;
    transition: background-color .3s;
    border: rgba(43, 159, 138, 0.4) solid 1px;
    border-radius: 5px;
}

.todo-search-input:hover , .todo-search-input:focus {
    outline: none;
    background-color: #fff;
    color: #333;
}

#addBtn {
    width: 50px;
    border: none;
    padding: 8px;
    font-size: 1.1rem;
    font-weight: 400;
    margin-left: -2px;
    background-color: rgba(240,0,0,.8);
    color: #fff;
    transition: background-color .3s;
    cursor: pointer;
}
.faAdd{
    font-size: 25px;
}
@media screen and (max-width: 347px){
    #addBtn{margin-top: 10px;}
}
#addBtn:hover {
    background-color: rgba(240,0,0,1);
}
#todo-main {
    padding: 20px;
    color: #333;
    overflow-y: scroll;
    height: 350px;
}
.no-todos {
    padding: 0px 25px 25px 25px;
    text-align: center;
    font-size: 3rem;
    color: #999;
}
.todo-list {
    list-style-type: none;
}
.todo-list li {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-size: 1.1rem;
    margin: 10px;
    background-color: #e5eae9;
    color: #105044;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0,0,0,.3);
    transition: opacity .3s;
}
.todo-list li p {
    padding: 10px;
}
.btn-container {
    padding-top: 5px;
}
.btn-container button {
    margin-left: 5px;
    padding: 5px;
    font-size: .7rem;
    border: none;
    cursor: pointer;
    color: #fff;
    transition: box-shadow .1s;
}
.btn-container button .fa-icons{
    font-size: 15px;
}
.btn-container button:hover, .btn-container button:focus {
    outline: none;
    box-shadow: 0px 10px 20px rgba(0,0,0,.4);
}
.up {
    background-color: darkgreen;
}
.down {
    background-color: chocolate;
}
.remove {
    background-color: red;
}
.head{
    display: flex;
    padding: 10px;
    justify-content: center;
}
.heading{
    padding: 0 30px;
}
.heading small{
    font-family: 'Merienda',Google,sans;
    font-weight: 700;
}
.clearBtn{
    align-self: center;
    padding: 5px 7px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #ff5252;
    color: #fff;
    font-weight: normal;
    letter-spacing: 1px;
}
.icon{
    margin-right: 30px;
}
.input-container{
    display: flex;
    align-items: center;
    padding: 0 20px 20px;
    justify-content: center;
    flex-wrap: wrap;
}

/**** TOOLTIP ****/
.icon {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer; }
  .icon span {
    font-family: Google;
    position: absolute;
    top: 50%;
    margin-top: 5px;
    padding: .5rem .7rem;
    font-size: .7rem;
    font-weight: bold;
    letter-spacing: 1px;
    white-space: nowrap;
    color: var(--color-primary);
    border-radius: 50px;
    border: 1px solid #333;
    background-color: #111;
    color: #fff;
    box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    opacity: 0;
    transition: all 0.2s ease-in-out; }
  .icon:hover span {
    top: 75%;
    opacity: 0.9; }
