/**/
@font-face {
    font-family: 'Google';
    src: url(https://sarojkumar007.github.io/doc/fonts/google-sans-light.woff2) format(woff2);
    font-style: normal;
    font-weight: 100;
}
/**/
* {
    font-family: Google;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    background-color: #ececec;
    height: 95vh;
}
/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fdfdfd;
  /*border-left: 1px solid #bbb;*/
  box-shadow: inset 0px 5px 10px #00000033;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #999;
  transition: background .3s;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover{
  background: #666;
}

.bottom-design {
    height: 10px;
    width: 40%;
    border-radius: 100px;
    margin: 10px auto;
    background-color: #999;
}
.todo-container {
    padding-bottom: 20px;
    max-width: 600px;
    background-color: #fff;
    margin: 20px auto;
    box-shadow: 0px 10px 20px #00000033;
}
.todo-container header{
    background-color: #154276;
}
#todo-header h1 {
    padding: 20px 20px 0px 20px;
    text-align: center;
    color: #fff;
    font-weight: 400;
    font-size: 3rem;
    text-transform: uppercase;
}
.todo-input {
    background-color: rgba(255,255,255,0.5);
    border: none;
    padding: 10px;
    width: 80%;
    margin: 30px 0px 30px 30px;
    font-size: 1.1rem;
    transition: background-color .3s;
}
.todo-input::-webkit-input-placeholder {
    color: #ddd;
    transition: color .3s;
}
.todo-input:hover::-webkit-input-placeholder {
    color: #999;
}
.todo-input:focus::-webkit-input-placeholder {
    color: #999;
}
.todo-input:hover , .todo-input:focus {
    outline: none;
    background-color: #fff;
    color: red;
}
#addBtn {
    width: 60px;
    border: none;
    padding: 10px;
    font-size: 1.1rem;
    font-weight: 400;
    margin-left: -2px;
    background-color: rgba(240,0,0,.8);
    color: #fff;
    transition: background-color .3s;
    cursor: pointer;
}
#addBtn:hover {
    background-color: rgba(240,0,0,1);
}
#todo-main {
    padding: 20px;
    color: #333;
    overflow-y: scroll;
    height: 350px;
}
.no-todos {
    padding: 0px 25px 25px 25px;
    text-align: center;
    font-size: 3rem;
    color: #999;
}
.todo-list {
    list-style-type: none;
}
.todo-list li {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-size: 1.5rem;
    margin: 10px;
    background-color: #ddd;
    color: #154276;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0,0,0,.3);
    transition: opacity .3s;
}
.todo-list li p {
    padding: 10px;
}
.btn-container {
    padding-top: 5px;
}
.btn-container button {
    margin-left: 5px;
    padding: 10px;
    font-size: .9rem;
    border: none;
    cursor: pointer;
    color: #fff;
    transition: box-shadow .1s;
}
.btn-container button:hover, .btn-container button:focus {
    outline: none;
    box-shadow: 0px 10px 20px rgba(0,0,0,.4);
}
.up {
    background-color: darkgreen;
}
.down {
    background-color: chocolate;
}
.remove {
    background-color: red;
}
